body {
    font-family: Electrolize;
    font-size: 16px;
    line-height: 28px;
}

hr.style-one {
    margin-bottom: 80px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.button {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 40px;
    display: inline-block;
    padding: 5px;
    min-width: 100px;
    color: #fff;
    border: none;
    background-color: #000047;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: auto;
    background-color: #000047;
    padding: 10px;
}

header h1 {
    text-transform: uppercase;
    font-size: 2em;
    float: left;
    color: #fff;
    margin-left: 20px;
}

header nav {
    float: right;
    text-transform: uppercase;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

#splash {
    margin-top: 20px;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/splash-evox.jpg') no-repeat right;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    height: 200px;
    width: 100%;
}

#splash h2 {
    font-size: 5em;
}

#splash p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
}

#about-group {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 400px;
}

#about-img {
    width: 33%;
    float: left;
    width: 620px;
    height: 400px;
}

#about-text {
    text-align: center;
    width: 550px;
    padding-top: 100px;
    margin-left: 700px;
}

#about-text h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

#mid h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px
}

.package {
    height: 400px;
    width: 25%;
    text-align: center;
    float: left;
    margin-bottom: 80px;
    padding-top: 5px;
}

#cobbway-img {
    height: 100px;
    width: 80%;
    padding-top: 35px;
}

.package img {
    margin-bottom: 20px;
    width: 40%;
}

.package h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.package p {
    margin: 10px 20px 15px 20px;
}

#mid-bot h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px
}

.location {
    height: 350px;
    width: 50%;
    text-align: center;
    float: left;
    padding-top: 5px;
}

.location img {
    margin-bottom: 20px;
    width: 40%;
}

.location p {
    text-align: center;
    margin: 10px 20px 15px 20px;
}

#footer {
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/img-footer.jpg') no-repeat;
    background-size: contain;
    padding: 80px;
    text-align: center;
    color: #fff;
}

#footer p {
    font-size: 1.5em;
}

#footer .button {
    margin-top: 170px;
    margin-left: 200px;
    margin-right: 200px;
}